{% extends "paginasweb/index.html" %}

{% load static %}

{% block conteudo %}
<h3>Lista de Usuarios</h3>

<table>

  <tr>
    <th>Nome</th>
    <th>Senha</th>
    <th>Email</th>
  <tr>

  {% for Usuario in object_list %}
  <tr>
    <td>{{Usuario.nome}}</td>
    <td>{{Usuario.senha}}</td>
    <td>{{Usuario.email}}</td>
    <td>
      <a href="{% url "Atualizar-usuario" Usuario.pk %}">Editar</a>
      <a href="{% url "Deletar-Usuario" Usuario.pk %}">Excluir</a>
    </td>
  </tr>

  {% endfor %}
</table>


{%  endblock  %}



