{% extends "paginasweb/index.html" %}

{% load static %}

{% block conteudo %}
<h3>{{Sobre}}</h3>

<p>
    Este trabalho apresenta o desenvolvimento de um sistema inteligente de monitoramento<br>
    e automação de segurança baseado em visão computacional e inteligência artificial (IA).<br>
    O objetivo é criar uma solução acessível que realize reconhecimento facial,<br>
    diferencie humanos de animais e gere relatórios e notificações automáticas,<br>
    garantindo uma maior precisão no controle de acesso e vigilância<br>
    em ambientes internos e externos. 
</p>

<p>
    No caso, a utilização de visão computacional permitirá ao sistema interpretar<br>
    imagens e vídeos em tempo real, identificando, por exemplo, pessoas autorizadas no local.<br>
    Além das funções de detecção e reconhecimento do sistema,<br>
    esses relatórios são armazenados e organizados de maneira automatizada,<br>
    permitindo a análise histórica de incidentes<br>
    e o aperfeiçoamento das estratégias de segurança.<br>
    Notificações automáticas via aplicativos de mensagens, e-mail ou SMS<br>
    também são integradas, garantindo respostas rápidas a qualquer anormalidade detectada.
  </p>
{%  endblock  %}



